.book {
    border: 2px solid red;
    background: bisque;
    text-align: center;
    ul {
        color: blue;
        li {
            margin: .5rem;
            span {
                font-weight: 900;
            }
        }
    }
}