.add-form-wrapper {
    .add-form {
        color: firebrick;
        background-color: floralwhite;
        .add-form-section {
            margin: 1rem;
        }
        .add-form-submit {
            font-size: larger;
        }
    }
}