.book {
    border: 2px solid red;
    background: bisque;
    text-align: center;
    > * {
        margin: 1rem .5rem; // 1rem space between list of book info and del button
    }
    ul { // this is the ul of book data
        color: blue;
        li {
            margin: .5rem;
            span {
                font-weight: 900;
            }
        }
    }
    .delete-button {
        background-color: maroon;
        color: white;
    }
    // read and unread button are the 'same' button, class is toggled based on state
    .read-button {
        background-color: gold;
        color: black;
    }
    .unread-button {
        background-color: purple;
        color: white;
    }
}